@use 'src/styles/_vars';

.frenchConnexionContent{

  margin-bottom: 6em;

  &__Title{
   
    text-align: center;
    font-size: 2em;
    text-transform: none;
    letter-spacing: 0px;
    width: 80%;
    margin: 1em auto .5em;
    font-family: vars.$font-title;

  }

  &__Intro{
    
   display: none;
   
  }


  @media only screen and (min-width : 768px) {
    width: 60%;
    margin: auto;
  

  &__Color{
    background-color: rgb(125, 178, 224);
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: 1;
  }

  &__Intro{
    background-color: #fff;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 20%;
    z-index: 2;
    padding: 1em;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    text-align: justify;
    line-height: 1.25em;
    font-size: 1em;
    font-family: vars.$font-text;
    display: flex;
    align-items: center;
  }

  &__Title{
   
    font-family: vars.$font-title;
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 20%;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    left: 30%;
    width: 40%;
  }

}
}
