@use 'src/styles/_vars';

.portfolioContent{
  height: 90%;
 // background-image: url("src/assets/picture/background.png");
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__Background{
    background-image: url("src/assets/picture/background.png");
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
  }

  &__Projet{
   // background-color: blanchedalmond;
    z-index: 150;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__ProjetText{
    width: 50%;
   // background-color: brown;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
  }

  &__ProjetImg {
    z-index: 2;
    padding-right: 1em;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__ProjetImg__img  {
    max-width: 100%;
  }
  &__FrenchConnexion{
    display: flex;
    justify-content: center;
    flex-direction: column;

   
  }
}

p:first-child{
  font-size: 1.25em;
  margin-bottom: 1em;
  font-weight: bold;
}

span{
  display: inline-block;
  font-style: italic;
  
}
#Arianne{
  font-style: italic;
  padding: 1em;
  text-decoration: underline;
}
