@use 'src/styles/_vars';

.portfolioContent{

  margin-bottom: 6em;

  @media only screen and (min-width : 768px) {
    
    width: 80%;
    margin: 5% auto;
}

  &__project{
    @media only screen and (min-width : 768px) {
    
      display: flex;
      flex-direction: row;
      //flex-flow: wrap;
      justify-content: center;
  }
  }

  &__link{
    @media only screen and (min-width : 768px) {
      width: 30%;
      margin: 1.5%;
    }
  }

  &__Header{
    font-size: 2em;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: underline;
    text-decoration-line: overline;
    font-family: vars.$font-title;

    @media only screen and (min-width : 768px) {
    
      padding: 2em .5em .5em;
      margin: auto;
  
  }
  }

  &__Projet{
    
    
  }

  &__ProjetText{
    width: 100%;
    //background-color: hsla(0, 5%, 72%, 0.205);
    height: 100%;
    padding: 1em;
  }

  &__Title{
    font-family: vars.$font-title;
    font-size: 1.5em;
    padding: 0.5em;
    font-weight: 300;
    text-decoration-thickness: from-font;
    line-height: 1.5em;
    
  }

  &__Stack{
    font-family: vars.$font-text;
    font-weight: 300;
    font-size: 1.10em;
    text-align: center;
    padding-top: 1em;

    @media only screen and (min-width : 768px) {
    
      margin-bottom: 3em;
  
  }

    span{
      display: block;
      margin-top: 0.5em;
    }
  }

  &__ProjetImg {

   width: 50%;
   height: 12em;
   display: block;
   margin: auto;
   
  }

  &__ProjetImg__img  {
    max-width: 100%;
  }

  &__Cadre{
    background-color: #c4c4c4;
  }

}



span{
  display: inline-block;
  font-style: italic;
  
}

#frenchCo{
 // background-image: url("src/assets/picture/frenchCo.png");
}

#portfolio{
  //background-image: url("src/assets/picture/logo.png");
  
}

#lab{
  //background-image: url("src/assets/picture/randomProject.jpg");
  
}

#frenchCo,#portfolio,#lab{
  background-color: #fff;
  border: solid #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 445px;
  max-height: 284px;
  margin-bottom: 1em;
}

#frenchCo:hover, #portfolio:hover, #lab:hover{
  border: solid #ff5267;
}
