@use 'src/styles/_vars';

.cvContent{
  height: 90%;

  &__H1{
    font-size: 2em;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: underline;
    -webkit-text-decoration-line: overline;
    text-decoration-line: overline;
    font-family: vars.$font-title;
  }

  &__picture{
    background-image: url("src/assets/picture/desespere.jpg");
    height: 50%;
    width: 100%;
    margin: auto;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  &__encart{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    opacity: 0.7;
    padding: 0.5em;
  }

  &__Block{
    width: 90%;
    margin: auto;
    padding: 1em;
    margin-top: 3em;
    font-family: vars.$font-text;
    font-size: 1em;
    line-height: 1.5em;

    a{
    display: block;
    font-family: vars.$font-text;
    color: #000;
    text-decoration: underline;
    font-style: italic;
    display: inline-block;
    }
  }
}


h2{
  font-size: 1.5em;
  margin-bottom: 1em;
  font-family: vars.$font-title;
}

#DlCV{
  text-decoration: none;
  border: solid;
  height: 2.5em;
  text-align: center;
  line-height: 2.1em;
  width: 80%;
  font-size: 1.5em;
  margin: 2em auto;
  background-color: #000;
  color: #fff;

  display: block;
  font-family: vars.$font-title;
}
