@use 'src/styles/_vars';

.ProjetLabDetailed{

  padding: 1.5em;
  position: absolute;
  top: 60%;
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__h2{
    font-size: 1.15em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-family: vars.$font-title;

  }

  &__p{
    margin-bottom: 1em;
    padding-left: 1em;
    text-align: justify;
    line-height: 1.35em;
    font-family: vars.$font-text;
  }

  &__img{
    width: 100%;

  }

  #smaller{
    width: fit-content;
  }

  &__link{
    text-align: center;
    display: block;
    font-style: italic;
    font-family: vars.$font-text;
    text-decoration: underline;
  }
}

figcaption{
  font-style: italic;
  font-size: 1em;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5em;
  color: #585858;
  font-family: vars.$font-text;
  font-weight: 300;
  text-decoration: underline;
}
hr{
  margin-bottom: 2em;
  margin-top: 2em;
}
span{
  display: block;
}
